<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Insider Test Suits" >
    <listeners>
       <!-- <listener class-name="utils.listeners.TestListener"/> -->
        <!-- <listener class-name="utils.listeners.AnnotationTransformer"/>-->
    </listeners>

    <test name="Insider">
        <classes>
            <class name="test.HomePageTest"/>
        </classes>
    </test>
</suite>